<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undefined</title>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>
    <canvas id="matrix"></canvas>
    <header>
        <nav>
            <div class="nav__container">
                <a class="nav-link" href="#" id="ShowHome">Головна</a>
                <h1 class="title">
                    <span class="title--1">Unde</span><span class="title--2">fined</span>
                </h1>
                <a class="nav-link" href="#" id="ShowCatalog">Каталог</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero-section">
            <div class="container">
                <div class="hero__container">
                    <p>З нами ви можете не боятися не казати ШІ «дякую»!</p>
                    <a class="lazy-show-catalog" href="#">Перейти до товарів</a>
                </div>
            </div>
        </section>
        <section class="catalog-section">
            <div class="container">
                <div class="catalog__container">
                    
                </div>
            </div>
        </section>
        <section class="products-section">
            <div class="container">
                <div class="products__container"></div>
            </div>
        </section>
    </main>
    <script src="../js/matrix.js"></script>
    <script type="module" src="../js/main.js"></script>
</body>
</html>